.banner-container{
    background-color: #ec7000;
}

.banner{
    background-image: url(../img/banner.jpeg);  
    background-repeat: no-repeat;
    height: 540px;
    color: white;
    background-color: #ec7000;
    max-width: 1280px;
    margin: 0 auto;
    padding: 35px;

}

.btn-play-container{
    position: relative;
    top: 115px;
   
}

.btn-play-container button{
    font-size: 16px;
}

.banner-text{
    position: relative;
    top: 130px;
    width: 400px;
    line-height: 1.3;
}

.banner-text h1{
    margin-bottom: 15px;
}

.description{
    margin-bottom: 28px;
    line-height: 1.4;
}

.banner-text h1{
    font-size: 30px;
    font-weight: 600;
}

.banner-text .description{
    font-size: 20px;
}



.btn-play-container{
    border-radius: 50px;
    width: 123px;
    height: 29px;
    font-size: 16px;
    display: flex;
}

.btn-play{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.btn-play-container :hover{
    background-color: rgba(0,0,0,.54);
    border: solid 1px white;
}

.btn-play img:hover{
    border: none;
}



.btn-play img{
    width: 8px;
    margin-right: 15px;
    margin-bottom: 1px;
}

.btn-renegocie{
    width: 128px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px white;
    background-color: rgba(0,0,0,.54);
    color: white;
    cursor: pointer;
}

.btn-renegocie:hover{
    background-color: rgba(255, 255, 255, 0.54);
    transition: 1s;
    color: black;
}

.arrow-left{
    transform: scaleX(-1);
    margin-right: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-right{
    margin-left: 18px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel{
    position: relative;
    top: 204px;
    display: flex;
    align-items: center;
    height: 32px;
}

.carrossel img{
    cursor: pointer;
    width: 17px;
    
}

.carrossel .dots-container{
  display: flex;
  
    
}


.dot-item{
    width: 4px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.54);
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.dot-long-item{
    width: 16px;
    height: 4px;
    margin: 4px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}


.carrossel .arrow-left:hover{
    background-color: rgba(0,0,0,.54);
    border-radius: 50%;
    border: solid 1px white;
}

.carrossel .arrow-right:hover{
    background-color: rgba(0,0,0,.54);
    border-radius: 50%;
    border: solid 1px white;
}


.whatsapp-container{
    background-color: #25D366;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px -4px #575757;
    cursor: pointer;
    position:fixed;
    bottom: 75px;
    right: 55px;
}

.whatsapp-container img{
    margin-left: 2px;
    margin-top: 1px;
    width: 34px;
}

